section{
    display: flex;
    background-color: white;
    grid-template-rows: 2fr 2fr;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px; 
    align-content: center;
}
.logo{
    margin-left: 80px;
}